<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
<!--        Enter some text: <input type="text" name="sumText" id="sumText"/>-->
        <label for="rNum">Generate a number</label>
        <input type="hidden" name="rNum" id="rNum" th:value="${rNum}"/>.
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <table>
        <th>List of Random Numbers</th>
        <tr th:each="num: ${rList}">
            <td th:text="${num}"></td>
        </tr>
    </table>
</body>
</html>